* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Jost", sans-serif; */
  }
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}
a:link, a:visited {
    color: black;
}
a:hover {
    color: rgba(1, 0, 0, 0.556);
}
body{
    background-color: #cdf0ead0;
}

.main-nav{
    margin-top: 7px;
    width: 100%;
    height: 5rem;
    display: grid;
    grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
    background-color: #EEEEEE;
    box-shadow: 20px 20px 110px #674747;
    
    /* border-radius: 25px; */
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.logo{
    display: grid;
    justify-content: start;
    align-items: center;
    grid-column: 2/3;
}
.logo h2{
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    background-color: red;
    background-image: linear-gradient( #1717b29d, #0de1e9b4, #171717);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.logo h2 span{
    font-size: 3rem;
}

.Linkedin{
    color: blue;
}
.Linkedin:hover{
    color: rgba(0, 0, 255, 0.556);
}

.menu-link{
    font-family: 'Montserrat',sans-serif;
    grid-column: 3/4;
}
.menu-link ul{
    text-transform: capitalize;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: underline;
    
}
.social-media{
    grid-column: 4/5;
}
.social-media ul{
    height: 5rem;
    display: grid;
    grid-template-columns:3fr repeat(2,1fr);
    align-items: center;
    justify-content: flex-end;
}

.social-media ul li{
    text-align: right;
}
.social-media ul li:first-child{
    grid-column: 2/3;
}


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
.intro{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.intro h1{
    font-size: 5rem;
    font-family: 'Ubuntu', sans-serif;
    margin: 0%;

}
.intro p{
    font-family: 'Ubuntu', sans-serif;
    margin: 0%;
    font-size: 3rem;
}


